@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

/*@primaryColor: #fc356e;
@secondayColor: #cb5dd1;
@inputTextColor: #999;
@inputBgColor: #ebebeb;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #f1f1f1;
    font-family: 'Montserrat', 'sans-serif';
}

#main {
    display: block;
    margin: 0;
    overflow-y: ;
}

.logFrag {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.log {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 60%;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

a {
    color: #fc356e;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.icon {
    display: inline-block;
    fill: #606468;
    font-size: 16px;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
    fill: #fff;
}

input {
    border: 0;
    color: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    font-family: 'Montserrat', 'sans-serif';
}

input[type='submit'] {
    cursor: pointer;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

.form {
    margin: -14px;
    margin: -0.875em;
}

.form_field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px;
    margin: 0.875em;
}

.form_input {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.login label,
.login input {
    border-radius: 0.5em;
    padding: 16px;
}

.login input {
    width: 100%;
}

.login label {
    background-color: #999;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 15px;
}

.login input[type='text'],
.login input[type='password'] {
    background-color: #ebebeb;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.login input[type='text']:focus,
.login input[type='text']:hover,
.login input[type='password']:focus,
.login input[type='password']:hover {
    background-color: #dbdbdb;
}

.login input[type='submit'] {
    background-image: -webkit-linear-gradient(#fc356e, #cb5dd1);
    background-image: -o-linear-gradient(#fc356e, #cb5dd1);
    background-image: linear-gradient(#fc356e, #cb5dd1);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover {
    /* Ay lel */
}

.login input[type='submit'] p {
    text-align: center;
}

.login p {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 0.8em;
}

.log .logoLog,
.reg .logoLog {
    width: 150px;
    height: auto;
    margin: 0 auto 60px auto;
}

.regFrag {
    height: 100vh;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div .slideInit {
    width: 67%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 33%;
    background-color: #fff;
    transition: 0.5s;
}

div .slides {
    -webkit-animation: animarSlide 20s alternate infinite;
    -moz-animation: animarSlide 20s alternate infinite;
    -o-animation: animarSlide 20s alternate infinite;
    animation: animarSlide 20s alternate infinite;
    position: relative;
}

div .slide-1 {
    background: url('../img/bg_1.jpg');
}

div .slide-2 {
    background: url('../img/bg_2.jpg');
    background-position: center;
}

div .slide-3 {
    background: url('../img/bg_3.jpg');
    background-position: center;
}

div .slide-4 {
    background: url('../img/bg_4.jpg');
    background-position: center;
}


div .slide {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-size: cover;
    overflow: auto;
}

.slide .titleSlide {
    position: relative;
    color: #fff;
    margin: 0;
    margin-left: 7%;
    margin-top: 80vh;
    font-size: 3.2em;
    font-weight: 700;
    white-space: pre-line;
    user-select: none;
    overflow: hidden;
}

.slide .descriptionSlide {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    margin-top: -5px;
    margin-left: 7%;
    user-select: none;
    overflow: hidden;
}

#home {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f1f1f1;
}

#head {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 5px 50px #ddd;
    z-index: 1;
}

#containerHeader {
    height: 60px;
    position: relative;
}

#logoNav {
    background: url('../img/logo_nav.png') no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
    width: 150px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#logoNav div {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    width: 2px;
    height: 40px;
    background-image: -webkit-linear-gradient(#fc356e, #cb5dd1);
    background-image: -o-linear-gradient(#fc356e, #cb5dd1);
    background-image: linear-gradient(#fc356e, #cb5dd1);
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

#discover {
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    font-size: 1em;
    position: absolute;
    display: inline-block;
    width: 110px;
    height: 3em;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    color: #191919;
    cursor: pointer;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}

.search {
    margin: auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search .field {
    position: relative;
    margin: auto 0;
}

.search .input-search {
    border: 1px solid #ccc;
    border-radius: .5em;
    display: inline-block;
    padding: .5em 1.75em;
    padding-left: 2.4em;
    width: 100%;
    background: #eee;
}

.search .input-search:focus + label,
.search .input-search:valid + label {
    left: .5em;
    transform: translate(0, -50%);
}

.search .input-search:valid + label {
    text-indent: -9999px;
}

.search label {
    background: url('../img/search.png') no-repeat;
    background-position: left;
    background-size: contain;
    text-align: left;
    color: #b2b2b2;
    padding-left: 1.8em;
    position: absolute;
    left: .5em;
    top: 50%;
    transform: translate(0, -50%);
    font-size: .9em;
}

#settings {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 100px;
    background: url('../img/settings.png') no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#notify {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 55px;
    background: url('../img/notify.png') no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#profile {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background: url('../img/bg_1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#profileZone {
    position: relative;
    transition: all .2s ease;
}

#toggleProfile {
    display: none;
}

#toggleProfile: ~ .dropdown-profile {
    display: block;
}

#toggleProfile:checked ~ .dropdown-profile {
    display: none;
}

#profileZone .arrow-right {
    width: 0;
    height: 0;
    margin-right: 10px;
    margin-top: -7px;
    float: right;
    display: block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #fff;

}

#profileZone .dropdown-profile {
    display: block;
    position: absolute;
    right: 0;
}

#profileZone .dropdown-profile a {
    display: block;
    background: #fff;
    width: 120px;
    height: 40px;
    padding: 0 12px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #aaa;
    line-height: 40px;
    box-shadow: 0px 1px 1px #ddd;
    transition: all .2s ease;
    font-size: 0.8em;
}

#profileZone .dropdown-profile a:nth-child(2) {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

#profileZone .dropdown-profile a:last-child {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

#profileZone .dropdown-profile a:hover {
    color: #fc356e;
}

#posting {
    height: 200px;
    background-color: #fff;
    z-index: 0;
    margin: 90px auto 0 auto;
    padding: 20px;
    box-shadow: 0px 5px 50px #ddd;
}

#posting section {
    display: none;
    padding: 10px 10px 0;
}

#posting .tabs {
    display: none;
}

#posting label {
    display: inline-block;
    padding: 10px 20px;
    width: 33.33%;
    margin-right: -5px;
    font-weight: 400;
    text-align: center;
    color: #bbb;
    border-bottom: 2px solid #ddd;
    user-select: none;
}

#posting label:before {
    margin-right: 10px;
}

#posting label:hover {
    color: #888;
    cursor: pointer;
}

#posting input:checked + label {
    color: #555;
    font-weight: 600;
    border-bottom: 2px solid #fc356e;
}

#posting #tab1:checked ~ #posting1,
#posting #tab2:checked ~ #posting2,
#posting #tab3:checked ~ #posting3 {
    display: block;
}

#posting1 {
    position: relative;
    height: 130px;
}

#posting1 textarea {
    resize: none;
    border: none;
    width: 96%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, 0);
}

#posting1 #btnPost1 {
    display: inline-block;
    float: right;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 1.5em;
    background: #fff;
    border: 1px solid #fc356e;
    transition: 0.2s;
    color: #fc356e;
    position: absolute;
    top: 68%;
    right: 1.5%;
    font-family: 'Montserrat', sans-serif;
}

#posting1 #btnPost1:hover {
    background: #fc356e;
    color: #fff;
}

.file-upload {
    padding: 10px;
    width: 30%;
    display: inline-block;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #fff;
    border: 1px solid #fc356e;
    color: #fc356e;
    padding: 8px 15px;
    border-radius: 1.5em;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.file-upload-btn:hover {
    background: #fc356e;
    color: #fff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.upload-content {
    display: none;
    text-align: center;
}

.upload-input {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.upload-wrap {
    width: 100%;
    height: 50px;
    border: 1px dashed #fc356e;
    position: relative;
    text-align: center;
    font-size: 0.6em;
    margin-bottom: 20px;
    position: relative;
}

.upload-wrap .drag-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropped,
.upload-wrap:hover {
    background: #fc356e;
    color: #fff;
}

.upload-image {
    max-height: 80px;
    max-width: 200px;
    margin: auto;
    padding: 2px;
}

.remove-image {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #aabb00;
    border: none;
    padding: 5px 15px;
    border-radius: 1.5em;
    transition: all .2s ease;
    outline: none;
}

#posting2 {
    overflow: hidden;
    position: relative;
    height: 130px;
}

#posting2 textarea {
    resize: none;
    border: none;
    width: 68%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 16%;
    right: 0;
}

#posting2 #btnPost2 {
    display: inline-block;
    float: right;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 1.5em;
    background: #fff;
    border: 1px solid #fc356e;
    transition: 0.2s;
    color: #fc356e;
    position: absolute;
    top: 68%;
    right: 1.5%;
    font-family: 'Montserrat', sans-serif;
}

#posting2 #btnPost2:hover {
    background: #fc356e;
    color: #fff;
}

#allPost h2 {
    width: 100%;
    margin: 0 auto;
    padding: 150px;
    color: #ddd;
    text-align: center;
}

.post {
    width: 700px;
    height: auto;
    margin: 30px auto 0 auto;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 50px #ddd;
    padding: 20px 20px 15px 20px;
}

.post:nth-last-child(1) {
    margin-bottom: 50px;
}

.post .profilePost {
    height: 50px;
    width: 100%;
    position: relative;
}

.post .profilePost .profilePicture {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    clip-path: circle(50% at 50% 50%);
    background: url('../img/bg_3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.post .profilePost .profileInfo {
    width: 200px;
    height: 40px;
    display: inline-block;
    margin: 8px 0 5px 20px;
    user-select: none;
}

.post .profilePost .profileInfo h4 {
    font-weight: 600;
    font-size: 1em;
}

.post .profilePost .profileInfo p {
    font-weight: 500;
    font-size: 0.8em;
    color: #888;
}

.post .profilePost .likes {
    font-size: 0.8em;
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 8%;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    color: #888;
}

.post .profilePost .like {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    background: url('../img/like_off.png') no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.post .profilePost .like p {
    width: 100%;
    text-align: center;
    font-size: .65em;
    margin: 9px 0;
    transition: .2s;
    font-weight: 600;
}

.post .profilePost .like:hover {
    background: url('../img/like_on.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.post .profilePost .addComment {
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
    position: absolute;
    top: 50%;
    right: 9%;
    transform: translate(0, -50%);
    background: url('../img/add_comment_off.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.post .profilePost .addComment:hover {
    background: url('../img/add_comment_on.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.post .contentPost {
    height: auto;
    width: 100%;
    margin-top: 20px;
    overflow: auto;
}

.post .contentPost .imagePosted {
    height: 240px;
    width: 40%;
    float: right;
    margin-right: 3%;
    display: inline-block;
    background: url('../img/bg_2.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.post .contentPost .textPosted {
    height: auto;
    width: 57%;
    color: #7f7f7f;
    padding: 10px;
    margin-bottom: 20px
}

.post .comentariosPost .comentario {
    height: auto;
    display: block;
    width: 100%;
    position: relative;
    padding: 10px 0;
    border: 2px solid #f1f1f1;
    border-left: none;
    border-right: none;
    border-bottom: none;
    overflow: auto;
}

.post .comentariosPost .comentario:nth-last-child(1) {
    padding: 10px 0 0 0;
}

.post .comentariosPost .profilePicture {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-left: 12px;
    clip-path: circle(50% at 50% 50%);
    background: url('../img/bg_4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.post .comentariosPost p {
    color: #7f7f7f;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}

.post .comentariosPost .comentario:last-child p {
    top: 58%;
}

.post .comentariosPost .commentName {
    font-weight: 600;
    color: #000;
}

.modal-backdrop {
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 10;
    opacity: 0;
}

.modal {
    background-color: #fff;
    width: 600px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 11;
    padding: 20px;
}

.modal .modal-content .modal-header {
    height: 50px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.modal .modal-content .modal-header .modal-title {
    color: #cb5dd1;
    padding: 10px 10px;
}

.modal .modal-content .modal-header .btnCloseModal {
    width: 30px;
    height: 30px;
    color: #ddd;
    background: none;
    border: 2px solid #ddd;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 1em;
    border-radius: 3em;
    float: right;
    cursor: pointer;
    transition: all .2s ease;
    margin: 5px;
}

.modal .modal-content .modal-header .btnCloseModal:hover {
    color: #cb5dd1;
    border: 2px solid #cb5dd1;
}

.modal .modal-content .modal-body {
    padding: 20px;
}

.modal .modal-content .modal-body .comment-send {
    resize: none;
    border: none;
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: block;
}

.modal .modal-content .modal-body .btnComment {
    font-family: "Montserrat", sans-serif;
    display: block;
    float: right;
    margin-top: 5px;
    border: 1px solid #cb5dd1;
    padding: 8px 15px;
    border-radius: 1.5em;
    color: #cb5dd1;
    background: none;
    transition: all .2s ease;
    cursor: pointer;
}

.modal .modal-content .modal-body .btnComment:hover {
    color: #fff;
    background: #cb5dd1;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@-webkit-keyframes animarSlide {
    0% {
        bottom: 0;
    }
    20% {
        bottom: 0;
    }
    27% {
        bottom: 100%;
    }
    47% {
        bottom: 100%;
    }
    54% {
        bottom: 200%;
    }
    74% {
        bottom: 200%;
    }
    80% {
        bottom: 300%;
    }
    100% {
        bottom: 300%;
    }
}

@keyframes animarSlide {
    0% {
        bottom: 0;
    }
    20% {
        bottom: 0;
    }
    27% {
        bottom: 100%;
    }
    47% {
        bottom: 100%;
    }
    54% {
        bottom: 200%;
    }
    74% {
        bottom: 200%;
    }
    80% {
        bottom: 300%;
    }
    100% {
        bottom: 300%;
    }
}

@media (max-width: 575px) {
    .logFrag {
        width: 100%;
        z-index: 2;
    }

    .post {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .logFrag {
        width: 100%;
        z-index: 2;
    }

    #containerHeader {
        width: 500px;
    }

    .post {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .logFrag {
        width: 100%;
        z-index: 2;
    }

    #containerHeader {
        width: 700px;
    }

    .search {
        width: 10em;
    }

    .post {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .logFrag {
        width: 100%;
        z-index: 2;
    }

    #containerHeader {
        width: 900px;
    }

    .search {
        width: 18em;
    }

    #posting {
        width: 700px;
    }

    .post {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .logFrag {
        width: 33%;
        z-index: -1;
    }

    .regFrag {
        width: 33%;
        z-index: -1;
    }

    #containerHeader {
        width: 1000px;
    }

    .search {
        width: 24em;
    }

    #posting {
        width: 700px;
    }

    .post {
        width: 700px;
    }
}
